@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --web-primary-color: #82DBD8;
  --inside-logo-color: #3BACB6;
  --hover-btn: rgba(0, 135, 130, .2);
  --primary-bg: #313552;
  --secondary-bg: rgba(39, 42, 64, .9);
  --beige-title: #E9DAC1;
  --tittle-section: #FCF8E8;
  --desc-section: #C7CDDF;
  --tittle-card: #fff;
  --desc-card: #A8B2D1;

}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-bg);
  color: var(--desc-section);

  padding-top: 70px; /* +---- Aplicar espaciado entre el navbar y el contenido ----+ */
}

/* +--- Solucion a un bug del navbar que amplia el width de la página, causado por la librería AOS ----+ */
section {
  overflow:hidden;
}

/* +--- Aplicar un margin top al hacer scroll a una sección con un id ----+ */
section[id]{
  scroll-margin-top: 20px;
}

a {
  text-decoration: none;
  color: var(--web-primary-color);
}

ul {
  list-style: none;
}

li, h1, h2, h3, h4 {
  margin: 0; padding: 0;
}

/* +----------------------------------------+ */
/* +---- TÍTULOS DE TODAS LAS SECCIONES ----+ */
/* +----------------------------------------+ */
/* +---- Número de la sección ----+ */
.title-span {
  color: var(--web-primary-color);
  font-weight: 500;
}

/* +---- Título de la sección ----+ */
.section-title {
  color: var(--tittle-section);
  font-size: 22px;
  font-weight: 500;
}

/* +--------------------------+ */
/* +---- MÓVILES DE 768PX ----+ */
/* +--------------------------+ */
@media (min-width: 768px) {

  /* +---- Número de la sección ----+ */
  .title-span {
    font-weight: 700;
  }

  /* +---- Título de la sección ----+ */
  .section-title {
    font-size: 26px;
    font-weight: 700;
  }
}