
#proyectos {
    padding: 60px 0;
}

.projects-title,
.cards-container {
    max-width: 270px;
}

.cards-container {
    padding-top: 40px;
}

.card {
    height: 290px;
    width: 270px;
    background-color: #3C3C54;
    margin-top: 20px;
    border-radius: 20px;
    transition: transform 0.4s;
    border: none;
    cursor: default;
}

/* --- DIMENSIONES DE ICONOS DE LAS TARJETAS --- */
.card-img-container {
    margin: 20px 20px 0 20px;
}

.img-folder {
    width: 33px;
}

.github-color {
    width: 21px;
}

.link-img {
    width: 27.5px;
}

/* Cambiar color al SVG */
.github-color,
.link-img {
    margin-left: 13px;
    color: #EEE6CE;
    transition: color .6s ease;
}

.github-color:hover,
.link-img:hover {
    color: #82DBD8;
}

/* --- DESCRIPCION/TEXTO DE LA TARJETA --- */
.descripcion-proyecto {
    margin: 25px 20px 0 20px;
}

.titulo-proyecto {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.sobre-proyecto {
    margin: 10px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #A8B2D1;
}

.etiquetas {
    box-sizing: border-box;
    padding: 15px 20px 0 20px;
    position: fixed;
    bottom: 30px;
    flex-wrap: wrap;
}

.etiqueta {
    font-family: 'Consolas';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-right: 20px;
    color: #8892B0;
}

/* --- ESTILOS DE LAS ETIQUETAS/TECNOLOGÍAS --- */
.open-modal{
    text-decoration: none;
    color: var(--web-primary-color);
}

.open-modal:hover{
    color: aquamarine;
}

/* --- MODALES PARA MOBILE --- */
.modal-title {
    font-size: 18px;
    /* margin-right: 25px; */
    justify-content: space-between;
}


/* Boton cerrar modal */
.btn-close-container {
    width: 50px;
}

.modal-header .btn-close {
    margin:  0;
}

/* Titulos h5 del modal */
.h5, h5 {
    font-size: 1rem;
}

/* Descripcion del modal */
.modal-description {
    font-size: 15px;
    list-style: disc;
}

/* Etiquetas del modal */
.etiqueta-modal {
    padding-right: 15px; padding-top: 8px;
    margin: 0;
    font-size: 15px;
}

/* Agregar espaciado arriba en los botones de ver codigo y ver live demo */
.btn-link-project-2 {
    margin-top: 10px;
}

@media (min-width: 768px) {
    #proyectos {
        padding-top: 100px; padding-bottom: 100px;
    }

    /* +--- CONTENEDORES DE TARJETAS ----+ */
    .projects-title,
    .cards-container {
        max-width: 668px;
    }

    .card {
        width: 324px; height: 310px;
    }

    /* +---- TAMAÑOS DE ICONOS ----+ */
    .img-folder {
        width: 41px;
    }

    .github-color {
        width: 25px;
    }

    .link-img {
        width: 32px;
    }

    /* +---- DESCRIPCION/TEXTO DE LA TARJETA ----+ */
    /* +---- Titulo del proyecto ----+ */
    .titulo-proyecto {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    /* +---- Sobre el proyecto ----+ */
    .sobre-proyecto {
        font-size: 15px;
        line-height: 18px;
    }

    .etiqueta {
        font-size: 15px;
        line-height: 18px;
    }

    /* --- ESTILOS DE LAS ETIQUETAS/TECNOLOGÍAS --- */
    .open-modal{
        text-decoration: none;
        color: var(--web-primary-color);
    }

    .open-modal:hover{
        color: aquamarine;
    }

    /* --- TAMAÑO DE FUENTE Y BOTON PARA MODALES EN MOBILE --- */
    .modal-title {
        font-size: 22px;
    }

    /* Titulos h5 del modal */
    .h5, h5 {
        font-size: 1.3rem;
    }

    /* Descripcion del modal */
    .modal-description {
        font-size: 18px;
    }

    /* Etiquetas del modal */
    .etiqueta-modal {
        font-size: 18px;
    }
}