
#skills {
    padding: 60px 0;
}

/* Tamaño de los SVG */
.skill-img {
    width: 42px;
    height: 42px;
}

/* Grilla para skills */
.software-skills {
    max-width: 270px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 42px);
    grid-gap: 30px;
    padding-top: 30px;
}

/* Ocultar tooltip en resoluciones pequeñas */
.tooltiptext {
    display: none;
}

